:root {
  /* # palette colori */
  --orange: #ff6900;
  --white: #ffffff;
  --black: #000000;
  --green: #008000;
  --red: #ff0000;
  --cyan: #17c1c1;
}

/* # reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # general */

.container {
  width: 70%;
  margin: 0 auto;
}

/* width */

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

/* flex */

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}
/* # header */

/* # main */

main > .container {
  margin: 160px auto 40px;
}

.card {
  margin: 10px;
}

/* # debug */

/* height */

.debug .tallest {
  height: 2000px;
}

.debug .tall {
  height: 600px;
}

.debug .small {
  height: 100px;
}

.debug .smaller {
  height: 80px;
}

.debug .smallest {
  height: 40px;
}

/* bordered */

.debug .bordered {
  border: 2px dashed var(--black);
}

.debug .bordered-white {
  border: 2px dashed var(--white);
}

/* background color */

.debug .bg-orange {
  background-color: var(--orange);
}
.debug .bg-white {
  background-color: var(--white);
}
.debug .bg-black {
  background-color: var(--black);
}
.debug .bg-green {
  background-color: var(--green);
}
.debug .bg-red {
  background-color: var(--red);
}
.debug .bg-cyan {
  background-color: var(--cyan);
}
